<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OTM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7692818D1D5400E800CF0FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769281A11D5400E800CF0FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769281AC1D5400E800CF0FF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
